# Exploring Pretraining Datasets

## C4

C4 is a massive dataset used in pre-training T5. In our pre-training setting we only use it as a regularizer so as the model does not forget to understand natural language.

Download link: https://huggingface.co/datasets/allenai/c4/tree/main

In [1]:
import pandas as pd
import json
import random
import gzip
import glob
import numpy as np

from tqdm.notebook import tqdm
from sentence_splitter import split_text_into_sentences
from nltk.tokenize import word_tokenize

### Reading

In [2]:
with open('../storage/datasets/c4/c4_data_original.json') as f:
    c4_original = [json.loads(line)['text'] for line in f]

### Processing

* Removing newlines
* Sentence splitting
* Shuffling

In [3]:
# Remove newlines
c4 = [text.replace('\n', ' ') for text in c4_original]

# Sentence split
c4_sentences = []
for text in tqdm(c4):
    sents = split_text_into_sentences(text, language='en')
    c4_sentences.extend(sents)

random.shuffle(c4_sentences)

del c4

  0%|          | 0/356317 [00:00<?, ?it/s]

## WDC


WebTableCorpus is a collection of tables crawled from the web.

Download link: http://webdatacommons.org/webtables/2015/downloadInstructions.html

## Reading

In [2]:
table_paths = glob.glob('../storage/datasets/wdc/original/1438042981460.12/warc/*')
original_tables = []

def get_tables():
    for table_path in table_paths[:500]:
        with gzip.open(table_path, 'r') as f:
            for line in f:
                try:
                    yield json.loads(line)
                except UnicodeDecodeError:
                    continue
# print(len(original_tables))

## Filtering

In [3]:
def is_english(table):
    return any(domain in table['url'] for domain in ['.com', '.eu', '.uk', '.net', '.org'])

def has_header(table):
    return table['hasHeader']

def is_not_empty(table):
    return len(table['relation']) >= 2

def is_not_huge(table):
    return len(table['relation']) < 50 and len(table['relation'][0]) < 15

def has_title_or_page_title(table):
    return table['title'] != '' or table['pageTitle'] != ''

def title_is_not_huge(table):
    if table['title'] != '' and len(table['title'].split()) < 5:
        return True
    elif table['pageTitle'] != '' and len(table['pageTitle'].split()) < 5:
        return True
    else:
        return False
    

filtered_tables = [table for table in get_tables() 
                  if has_header(table) and 
                  is_not_empty(table) and 
                  is_english(table) and
                  is_not_huge(table) and
                  has_title_or_page_title(table) and
                  title_is_not_huge(table)]

print(len(filtered_tables))

122124

## Analysis of TextBefore and TextAfter

In [ ]:
def calculate_token_overlap(text, row):
    text_tokens = word_tokenize(text)
    
    # We want the text to be at least 8 tokens so as it resembles real text
    if len(row) == 0 or len(text_tokens) < 8:
        return 0
    
    token_set = set(text_tokens)
    row_set = set(row)
    
    return len(token_set.intersection(row_set)) / min(len(text_tokens), len(row_set))


def calculate_row_overlaps(pairs):
    return [calculate_token_overlap(sent, row) for sent, row in pairs]


def create_possible_sent_row_pairs(table, text_position="textBeforeTable"):
    sent_row_pairs = []
    for sent in table[text_position]:
        for row in table['relation'][1:]:
            sent_row_pairs.append((sent, row))
    # print(sent_row_pairs)
    return sent_row_pairs
            
            
def calculate_all_overlaps(table, text_position="textBeforeTable"):
    if len(table[text_position]) == 0:
        return [0]
    
    pairs = create_possible_sent_row_pairs(table, text_position)
    overlaps = calculate_row_overlaps(pairs)
    return overlaps

    

def calculate_dataset_overlaps(tables):
    before_table_max = []
    after_table_max = []
    
    for table in tqdm(tables):
        
        before_table_max.append(max(calculate_all_overlaps(table, text_position="textBeforeTable")))
        after_table_max.append(max(calculate_all_overlaps(table, text_position="textAfterTable")))
        # break

    return before_table_max, after_table_max


with open('../storage/datasets/wdc/filtered/1438042981525.10.json', 'r') as inp:
    filtered_tables = json.load(inp)

before_overlaps, after_overlaps = calculate_dataset_overlaps(filtered_tables)
# for table in filtered_tables[:10]:
#     print(table)
#     print("-"*90)

  0%|          | 0/105119 [00:00<?, ?it/s]

In [13]:
before_overlaps = np.array(before_overlaps)
after_overlaps = np.array(after_overlaps)

## How many tables have at least one row with more than 50% overlap
thresh = 0.4
print(f"More than {thresh} | TextBefore: {np.sum(before_overlaps > thresh) / len(before_overlaps)}")
print(f"More than {thresh} | TextAfter: {np.sum(after_overlaps > thresh) / len(after_overlaps)}")

## What is the average overlap of the text before and the text after?
print(f"Average overlap | TextBefore: {np.mean(before_overlaps)}")
print(f"Average overlap | TextAfter: {np.mean(after_overlaps)}")

More than 0.4 | TextBefore: 0.006120527306967985
More than 0.4 | TextAfter: 0.05555555555555555
Average overlap | TextBefore: 0.011010223298358891
Average overlap | TextAfter: 0.047087705138552594

In [14]:
before_overlaps = np.array(before_overlaps)
after_overlaps = np.array(after_overlaps)

thresh = 0.4
after_inds = np.where(after_overlaps > thresh)[0]
before_inds = np.where(before_overlaps > thresh)[0]


for i, ind in enumerate(before_inds):
    table = pd.DataFrame(filtered_tables[ind]['relation'][1:], columns=filtered_tables[ind]['relation'][0])
    print(filtered_tables[ind]['textBeforeTable'])
    display(table)
    
    print("-" * 90)
    
    if i > 20:
        break

['Found 233 RPM for libxml_plugin.so RPM resource libxml_plugin.so Arch System The System and Arch are optional added filters, for example System could be "redhat", "redhat-7.2", "mandrake" or "gnome", Arch could be "i386" or "src", etc.', 'depending on your system.', 'The search service can find package by either name (apache), provides(webserver), absolute file names (/usr/bin/apache), binaries (gprof) or shared libraries (libXm.so.2) in standard path.', 'It does not support multiple arguments yet... Help Mirrors index by Name index by creation date index by Vendor index by Distribution index by Group Index']

,Package,videolan-client-0.8.4-3.2.el4.rf.i386.html,videolan-client-0.8.4a-4.el4.rf.i386.html
0,Summary,"The VideoLAN client, also a very good standalo...","The VideoLAN client, also a very good standalo..."
1,Distribution,DAG packages for Red Hat Linux el4 i386,DAG packages for Red Hat Linux el4 i386
2,Download,videolan-client-0.8.4-3.2.el4.rf.i386.rpm,videolan-client-0.8.4a-4.el4.rf.i386.rpm

------------------------------------------------------------------------------------------
['Botswana good excellent excellent excellent excellent excellent excellent good good good good good Matobo poor good excellent excellent excellent excellent good fair fair']

,Moremi,Okavango Delta,Linyanti,Savute,Chobe,Nxai Pan,Makgadikgadi
0,good,good,good,excellent,fair,excellent,excellent
1,good,good,good,excellent,fair,excellent,excellent
2,good,good,good,excellent,fair,excellent,excellent
3,good,good,good,excellent,good,excellent,excellent
4,excellent,excellent,excellent,good,good,good,good
5,excellent,excellent,excellent,good,excellent,fair,fair
6,excellent,excellent,excellent,good,excellent,fair,fair
7,excellent,excellent,excellent,good,excellent,poor,poor
8,excellent,excellent,excellent,good,excellent,poor,poor
9,excellent,excellent,excellent,good,excellent,poor,poor
10,excellent,excellent,excellent,good,excellent,fair,fair
11,good,good,good,good,good,good,good

------------------------------------------------------------------------------------------
['Show/hide PIC10F X=Not Working U = Untested v = Tested ½ = Partially Supported Devices The devices below are supported by the embedded software and the usbpicprog PC software It is very possible that a PIC device is supported by the latest snapshot version of usbpicprog (firmware + PC software).', 'In the table below, either the snapshot revision or the release version of usbpicprog is shown for every supported device.', 'The latest firmware can always be obtained from the github repository in binary and source form (.hex file).', 'The software is available in source format.', 'A ready-built snapshot version can be found here, but be careful – the snapshots are not stable and therefore not yet released.', 'If you have tested a device that is not listed, please use the form below Supported devices usbpicprog a free and open source usb pic programmer']

         Device PIC10F200 PIC10F202 PIC10F204 PIC10F206 PIC10F220 PIC10F222
0   Implemented         v         v         v         v         v         v
1         Erase         v         v         v         v         v         v
2     Read code         v         v         v         v         v         v
3    Autodetect        NA        NA        NA        NA        NA        NA
4     Read Data        NA        NA        NA        NA        NA        NA
5   Read Config         v         v         v         v         v         v
6    Write Code         v         v         v         v         v         v
7    Write Data        NA        NA        NA        NA        NA        NA
8  Write Config         v         v         v         v         v         v
9       version     0.4.1     0.4.1     0.4.1     0.4.1     0.4.2     0.4.2

------------------------------------------------------------------------------------------
['Super Wash------------$6.00-----------Undercarrige wash, Double pass presoak, Blue Corel Treatment, step 1: Foaming polish, step 2: Poly Sealant, High pressure wash, Spot free rinse, & Dry.', 'Deluxe Wash-----------$5.00-----------Undercarrige wash, High pressure wash, Pre-soak ,Blue Corel Poly Sealant, Spot free rinse, & Dry.', 'Touch Free Car Wash Self Serve\\Vacuum Touch Free Automatic Wash Hours:7:00 a.m.- 9:00p.m.']

                 Price $4.00 $5.00 $6.00
0              Presoak     *     *
1    Undercarrige Wash     *     *     *
2   High Pressure Wash                 *
3  Double Pass Presoak                 *
4       Foaming Polish                 *
5         Poly Sealant           *     *
6      Spot Free Rinse     *     *     *
7                  Dry     *     *     *

------------------------------------------------------------------------------------------
['Found 3 RPM for libwidget_gtk.so RPM resource libwidget_gtk.so Arch System The System and Arch are optional added filters, for example System could be "redhat", "redhat-7.2", "mandrake" or "gnome", Arch could be "i386" or "src", etc.', 'depending on your system.', 'The search service can find package by either name (apache), provides(webserver), absolute file names (/usr/bin/apache), binaries (gprof) or shared libraries (libXm.so.2) in standard path.', 'It does not support multiple arguments yet... Help Mirrors index by Name index by creation date index by Vendor index by Distribution index by Group Index']

,Package,firefox-0.10.1-0.1.0.el2.dag.i386.html,firefox-0.8-3.0.el2.dag.i386.html
0,Summary,Mozilla Firefox web browser,Mozilla Firefox web browser
1,Distribution,DAG Testing packages for Red Hat Linux el2.1 i386,DAG Testing packages for Red Hat Linux el2.1 i386
2,Download,firefox-0.10.1-0.1.0.el2.dag.i386.rpm,firefox-0.8-3.0.el2.dag.i386.rpm

------------------------------------------------------------------------------------------
['matrix inputs:1, matrix outputs:4 Matrix Operator A word on Jitter strings: In Jitter, any 1 plane char matrix may be manipulated as a string.', 'String matrices may have one or two dimensions.', 'If 1-dimensional, the string is considered terminated at the first 0 (like in C).', 'If 2-dimensional, the string may be considered a multi-line string, with the first 0 encountered on each row treated as a carriage return.', 'The jit.textfile and jit.str.op objects will accept and output 2D matrices.', 'jit.str.fromsymbol only outputs 1D matrices and jit.str.tosymbol only accepts 1D matrices (or the first row of a 2D matrix).', 'jit.str.regexp gets its regular expression know-how from the PCRE library package, which is open source software, written by Philip Hazel, and copyright by the University of Cambridge, England.', 'The jit.str.regexp object performs regular expression analysis to Jitter matrices, with optional substitution.', 'To specify a regular expression, the re attribute is used.', 'Substitutions may be specified with the substitute attribute.', 'A full discussion of regular expressions is beyond the scope of this document, but you can read all about them here and here .', 'Description Use PERL-compatible regular expressions on Jitter matrices jit.str.regexp']

        Name   out  out2  out3  out4
0     IOProc   n/a   n/a   n/a   n/a
1  Planelink     1     1     1     1
2   Typelink     1     1     1     1
3    Dimlink     1     1     1     1
4      Plane     1     1     1     1
5        Dim     1     1     1     1
6       Type  char  char  char  char

------------------------------------------------------------------------------------------
['See all My Contest Entries entered Sunday, July 21, 2002 entered Tuesday, July 23, 2002 My Contest Stats Latest Entries... I have 2 entries in the photo contest 2 point member Ronnie Cardwell Member since: Wednesday, October 6, 2004 Ronnie Cardwell Profile']

   Seas I have dived unspecified totals
0  Number of Entries           2      2
1        Total votes           9      9
2      Average votes           4      4

------------------------------------------------------------------------------------------
['See all My Contest Entries entered Sunday, July 21, 2002 entered Tuesday, July 23, 2002 My Contest Stats Latest Entries... I have 2 entries in the photo contest 2 point member Ronnie Cardwell Member since: Wednesday, October 6, 2004 Ronnie Cardwell Profile']

  Countries I have visited unspecified totals
0        Number of Entries           2      2
1              Total votes           9      9
2            Average votes           4      4

------------------------------------------------------------------------------------------
['table of potential recruits go for quality (1.0) Up to 5 units are to be recruited AI has 120 gold Example input a list of units to be recruited.', "Output (integer) maximum quantity (integer) current quantity (double) how good each unit is (integer) cost to recruit (string) recruit name table of potential recruits (double) quantity vs quality - 0 means 'go for mass of low-quality units', 1 means 'go for few high-quality units), and other values are in between (integer) maximum number of units to be recruited (integer) gold Input Wesnoth AI has to select what units to recruit.", 'AI leader stands on keep and can recruit a number of units, up to the number of free hexes in his castle.', 'AI can choose between a number of different unit types.', 'Each unit type costs a certain amount of gold to recruit and the AI knows how good a specific unit is, and should try to recruit better unit types.', 'AI knows how many units of a particular type it has at the moment and the scenario creators want to limit the amount of units of a certain type that the AI can have at the same time.', 'There should be a tunable parameter that will tell the AI to go']

            Recruit name Spearman Royal Guard
0        Cost to recruit     13gp        30gp
1  How good this unit is     12.6        40.0
2            Current Qty        1           0
3            Maximum Qty       10           2

------------------------------------------------------------------------------------------
['Found 3 RPM for libguac.so.0 RPM resource libguac.so.0 Arch System The System and Arch are optional added filters, for example System could be "redhat", "redhat-7.2", "mandrake" or "gnome", Arch could be "i386" or "src", etc.', 'depending on your system.', 'The search service can find package by either name (apache), provides(webserver), absolute file names (/usr/bin/apache), binaries (gprof) or shared libraries (libXm.so.2) in standard path.', 'It does not support multiple arguments yet... Help Mirrors index by Name index by creation date index by Vendor index by Distribution index by Group Index']

,Package,libguac0-0.3.0-7.1.i386.html,libguac0-0.3.0-7.1.i386.html,libguac0-0.3.0-7.1.i386.html
0,Summary,The core guacamole library,The core guacamole library,The core guacamole library
1,Distribution,SourceForge,SourceForge,SourceForge
2,Download,libguac0-0.3.0-7.1.i386.rpm,libguac0-0.3.0-7.1.i386.rpm,libguac0-0.3.0-7.1.i386.rpm

------------------------------------------------------------------------------------------
['UPDATE 6.2005: The Bundeswehr has given the MG43 the new designation MG4.', 'These are some of the only photographs emerging in reference to the new HK MG43 belt fed 5.56mm x 45 machine gun.', 'Heckler & Koch unveiled the new machine gun at the Defense Systems and Equipment International Convention in London, September 11-14, 2001.', 'Photos two, three and four are from the June, 2002 edition of Small Arms Review, reprinted here courtesy of Dan Shea, author and photographer of their article on the MG43.', 'The new gun is reportedly still in the early testing stages and is gas operated with a rotary bolt.', 'Also among the features are safe/full auto only, reminiscent of the M249 SAW and other adopted designs that do not feature select fire capability.', 'The gun has quick change barrels and a "very strong" belt feeding system.', 'The use of gas operation and rotary bolt seems to indicate that the MG43 is further progression of the G36 series, though this gun is not touted as a member of the G36 family.', 'The brochure states that the gun has a folding buttstock and a cyclic rate of 750 rpm.', 'It does not have a semi auto selector position, which is a first for HK.', 'Sand and extreme conditions test have already been undertaken at the Yuma proving ground in Arizona, after which a barrel handguard is to be finalized.', 'The gun is also reportedly to']

                  Caliber  5.56 x 45   5.56 x45
0             Cyclic Rate        750        750
1            Mag Capacity       Belt       Belt
2           Modes of Fire  Safe/Full  Safe/Full
3           Width (in/mm)       3.54         90
4          Height (in/mm)       9.84        250
5          Weight (lb/kg)      18.85       8.55
6     bbl. length (in/mm)       18.9        480
7  Overall Length (in.mm)      41.34       1050

------------------------------------------------------------------------------------------
['Found 3 RPM for techhounds_frc http://www.techhounds.com/ Found 1 sites for techhounds_frc The techhounds-frc package includes the NetBeans IDE, as well as the five plugins necessary to get it to deploy code onto an FIRST Robotics Competion (FRC) robot.', 'It also includes an frc-ping script, which can be used to test network functionality on an FRC robotics network.', 'RPM resource techhounds_frc Arch System The System and Arch are optional added filters, for example System could be "redhat", "redhat-7.2", "mandrake" or "gnome", Arch could be "i386" or "src", etc.', 'depending on your system.', 'The search service can find package by either name (apache), provides(webserver), absolute file names (/usr/bin/apache), binaries (gprof) or shared libraries (libXm.so.2) in standard path.', 'It does not support multiple arguments yet... Help Mirrors index by Name index by creation date index by Vendor index by Distribution index by Group Index']

,Package,techhounds_frc-20130207-429.noarch.html,techhounds_frc-20130106-2.noarch.html,techhounds_frc-20130106-2.noarch.html
0,Summary,Software used to work on FRC robotics.,Software used to work on FRC robotics.,Software used to work on FRC robotics.
1,Distribution,SourceForge,SourceForge,SourceForge
2,Download,techhounds_frc-20130207-429.noarch.rpm,techhounds_frc-20130106-2.noarch.rpm,techhounds_frc-20130106-2.noarch.rpm

------------------------------------------------------------------------------------------
['Arkansas Sarah Angeline Burnham Callaway County, Missouri Roda Burnham Callaway County, Missouri Death Certificates Maine Death Records New Hampshire Death Records Kentucky Death Records Illinois Death Records Link to Roots Web message board Death of Adelaide Burnham Of Missouri Death records Search billions of records on Ancestry.com']

         Name            Burnham, Lydia Reed                 Burnham, Rufus
0  Death Date                  Jan. 19, 1926                  July 29, 1936
1      County  Bradford-O'Keefe Funeral Home  Bradford-O'Keefe Funeral Home

------------------------------------------------------------------------------------------

### Check specific cases

In [31]:
# How many tables contain the word Player in first column
player_tables = 0

for table in filtered_tables:
    if table['relation'][0][0] == 'Cart Icon':
        player_tables += 1
        
player_tables

1238

## Analysis of Title and PageTitle

In [74]:
has_title = 0
has_page_title = 0
has_both = 0
has_none = 0

for table in filtered_tables:
    if table['title'] != '':
        has_title += 1
    if table['pageTitle'] != '':
        has_page_title += 1
    if table['title'] != '' and table['pageTitle'] != '':
        has_both += 1
    if table['title'] == '' and table['pageTitle'] == '':
        has_none += 1
        
print(f"Has title: {has_title / len(filtered_tables)}")
print(f"Has page title: {has_page_title / len(filtered_tables)}")
print(f"Has both: {has_both / len(filtered_tables)}")
print(f"Has none: {has_none / len(filtered_tables)}")

Has title: 0.22697422292096558
Has page title: 0.9997707248370509
Has both: 0.22674494775801643
Has none: 0.0

In [75]:
# Explore the difference between title and pageTitle
counter = 0
for table in filtered_tables:
    if table['title'] != '':
        print(table)
        counter += 1
        print("-" * 120)
    if counter > 5:
        break
        
print("!" * 240)
        
counter = 0
for table in filtered_tables:
    if table['pageTitle'] != '':
        print(table)
        counter += 1
        print("-" * 120)
    if counter > 5:
        break

{'relation': [['SEASON', '2008', '2009', 'TOTAL'], ['GP', '16', '6', '23'], ['G', '0', '0', '0'], ['A', '0', '0', '0'], ['PTS', '0', '0', '0'], ['SHOTS', '1', '0', '1'], ['SHOT %', '.000', '.000', '.000'], ['SOG', '1', '0', '1'], ['SOG%', '1.000', '.000', '1.000'], ['GW', '0', '0', '0'], ['PK-ATT', '0-0', '0-0', '0-0']], 'pageTitle': 'Brown', 'title': 'Career Statistics', 'url': 'http://brownbears.com/sports/m-soccer/2010-11/bios/smith_ian00.html', 'hasHeader': True, 'headerPosition': 'FIRST_ROW', 'tableType': 'RELATION', 'tableNum': 1, 's3Link': 'common-crawl/crawl-data/CC-MAIN-2015-32/segments/1438042981460.12/warc/CC-MAIN-20150728002301-00160-ip-10-236-191-2.ec2.internal.warc.gz', 'recordEndOffset': 37217939, 'recordOffset': 37209737, 'tableOrientation': 'HORIZONTAL', 'TableContextTimeStampAfterTable': '{26037=Brown University Athletics | 235 Hope St. Box 1932 | Providence, RI 02912, 21585=Before Brown: Transferred from Western Kentucky University where he started as a freshman ... Named to the Missouri Valley All-Freshman team and Missouri Valley All-Second Team ... Started all four years for J.S. Martin High School and was a captain during his senior season ... Named Most Valuable Player as a sophomore and a junior ... Most Valuable Offensive player senior year, Most Valuable Defender junior year, and also Most Valuable midfield player sophomore season ... Chosen First Team All-District both sophomore and junior seasons, and was named the District MVP in 2007 ... Named Dallas/Forth Worth all-area team senior season and named to the All-State team ... Played for Solar Soccer Club 89 for seven years and was a two-time United Youth Soccer Association national runner-up.}', 'textBeforeTable': 'Before Brown: Transferred from Western Kentucky University where he started as a freshman ... Named to the Missouri Valley All-Freshman team and Missouri Valley All-Second Team ... Started all four years for J.S. Martin High School and was a captain during his senior season ... Named Most Valuable Player as a sophomore and a junior ... Most Valuable Offensive player senior year, Most Valuable Defender junior year, and also Most Valuable midfield player sophomore season ... Chosen First Team All-District both sophomore and junior seasons, and was named the District MVP in 2007 ... Named Dallas/Forth Worth all-area team senior season and named to the All-State team ... Played for Solar Soccer Club 89 for seven years and was a two-time United Youth Soccer Association national runner-up. In 2008: Played and started in 16 games this season ...Helped Brown’s defense to eight shutouts as Brown’s defense allowed just 18 goals. In 2009: After an injury sustained during pre-season, Smith started in six of seven games. Bio D Position: Western Kentucky Previous College: J.S. Martin High School: Arlington,', 'textAfterTable': 'Brown University Athletics | 235 Hope St. Box 1932 | Providence, RI 02912 View: Mobile | Desktop', 'hasKeyColumn': False, 'keyColumnIndex': -1, 'headerRowIndex': 0}
------------------------------------------------------------------------------------------------------------------------
{'relation': [['', 'unfiltered', 'filtered'], ['Span', '2006-2015', '2012-2014'], ['Mat', '82', '27'], ['Start', '41', '18'], ['Sub', '41', '9'], ['Pts', '135', '16'], ['Tries', '8', '2'], ['Conv', '22', '3'], ['Pens', '17', '0'], ['Drop', '0', '0'], ['Won', '55', '18'], ['Lost', '25', '7'], ['Draw', '2', '2'], ['%', '68.29', '70.37'], ['', 'Profile', '']], 'pageTitle': 'Rugby Union - ESPN Scrum - Statsguru - Player analysis - Ruan Pienaar - Test matches', 'title': 'Career figures', 'url': 'http://en.espn.co.uk/statsguru/rugby/player/15357.html?captain_involve=13844;class=1;template=results;type=player;view=match', 'hasHeader': True, 'headerPosition': 'FIRST_ROW', 'tableType': 'RELATION', 'tableNum': 2, 's3Link': 'common-crawl/crawl-data/CC-MAIN-2015-32/segments/1438042981460.12/warc/CC-MAIN-20150728002301-00160-ip-10-236-191-2.ec2.internal.warc.gz', 'recordEndOffset': 82585466, 'recordOffset': 82569072, 'tableOrientation': 'HORIZONTAL', 'textBeforeTable': 'Return to query menu|Cleared query menu Statsguru Home Records type:\xa0player analysis View:\xa0match by match list [change view] Involving the captain:\xa0J de Villiers (SA) Ordered by:\xa0match date (ascending) .engineTable th {padding: 6px 3px;}', 'textAfterTable': 'Match by match list Pos Pts Tries Conv Pens Drop Result Opposition Ground Match Date (SH) 0 0 0 0 0 won v England Durban 9 Jun 2012 Details (W) 0 0 0 0 0 won v England Johannesburg 16 Jun 2012 Details (SH) 0 0 0 0 0 draw v England Port Elizabeth 23 Jun 2012 Details (W) 0 0 0 0 0', 'hasKeyColumn': True, 'keyColumnIndex': 0, 'headerRowIndex': 0}
------------------------------------------------------------------------------------------------------------------------
{'relation': [['Modifier and Type', 'double', 'double', 'double', 'double', 'void', 'void'], ['Method and Description', 'cumulativeProbability(double x) The CDF for this distribution.', 'getAlpha() Access the alpha parameter.', 'getBeta() Access the beta parameter.', 'inverseCumulativeProbability(double p) The inverse CDF for this distribution.', 'setAlpha(double a) Modify the alpha parameter.', 'setBeta(double b) Modify the beta parameter.']], 'pageTitle': 'Gamma', 'title': 'All Methods Instance Methods Concrete Methods', 'url': 'http://jwork.org/scavis/api/doc.php/jhplot/math/num/pdf/Gamma.html', 'hasHeader': True, 'headerPosition': 'FIRST_ROW', 'tableType': 'RELATION', 'tableNum': 1, 's3Link': 'common-crawl/crawl-data/CC-MAIN-2015-32/segments/1438042981460.12/warc/CC-MAIN-20150728002301-00160-ip-10-236-191-2.ec2.internal.warc.gz', 'recordEndOffset': 133604496, 'recordOffset': 133596294, 'tableOrientation': 'HORIZONTAL', 'textBeforeTable': 'Method Summary Create a distribution with the given alpha and beta values. Gamma(double\xa0a, double\xa0b) Default constructor. Gamma() Constructor and Description \xa0 Constructors Constructor Summary Eric W. Weisstein. "Gamma Distribution." From MathWorld--A Wolfram Web Resource. http://mathworld.wolfram.com/Gamma.html References: The Gamma distribution (1). public class Gammaextends ContinuousDistribution Distribution All Implemented Interfaces: jhplot.math.num.pdf.Gamma jhplot.math.num.pdf.ContinuousDistribution java.lang.Object Class Gamma jhplot.math.num.pdf Method Constr\xa0|\xa0 Field\xa0|\xa0 Detail:\xa0 Method Constr\xa0|\xa0 Field\xa0|\xa0 Nested\xa0|\xa0 Summary:\xa0', 'textAfterTable': 'Methods inherited from class\xa0java.lang.Objectequals, getClass, hashCode, notify, notifyAll, toString, wait, wait, wait Constructor Detail Gamma public\xa0Gamma() Default constructor. Alpha and beta are both set to 1. Gamma public\xa0Gamma(double\xa0a, double\xa0b) Create a distribution with the given alpha and beta values. Parameters: a - the alpha parameter. b - the beta parameter. Method Detail cumulativeProbability public\xa0double\xa0cumulativeProbability(double\xa0x) throws NumericException The CDF for this distribution. This method returns P(X < x). Specified by: cumulativeProbability\xa0in class\xa0 ContinuousDistribution Parameters: x - the value at which the CDF is evaluated. Returns: CDF for this distribution.', 'hasKeyColumn': False, 'keyColumnIndex': -1, 'headerRowIndex': 0}
------------------------------------------------------------------------------------------------------------------------
{'relation': [['', 'Chest', 'Hip', 'Sleeve (from shoulder seam)', 'Neck'], ['S', '17"', '17"', '6.5"', '6.75"'], ['M', '18"', '18"', '7.5"', '7"'], ['L', '19"', '19"', '8"', '7.25"'], ['XL', '20"', '20"', '8.5"', '7.5"'], ['XXL', '21"', '21"', '9"', '7.75"']], 'pageTitle': 'MLB Youth Custom Short-Sleeve Tee Sizing - MLB.com Shop', 'title': 'Youth Short Sleeve Tee', 'url': 'http://shop.mlb.com/info/index.jsp?categoryId=11817831&backTo=12432712&infoPath=222992', 'hasHeader': True, 'headerPosition': 'FIRST_ROW', 'tableType': 'RELATION', 'tableNum': 4, 's3Link': 'common-crawl/crawl-data/CC-MAIN-2015-32/segments/1438042981460.12/warc/CC-MAIN-20150728002301-00160-ip-10-236-191-2.ec2.internal.warc.gz', 'recordEndOffset': 219823235, 'recordOffset': 219802700, 'tableOrientation': 'VERTICAL', 'textBeforeTable': "MLB Youth Custom Short-Sleeve Tee Sizing Baseball Jersey Sizing \xa0 Size Charts \xa0 Adult Cool Base Sizing \xa0 MLB American Needle Sizing \xa0 MLB Majestic Youth Jersey Sizing \xa0 MLB Adult Premier Jacket Sizing - AJ10 \xa0 MLB Youth Custom Short-Sleeve Tee Sizing \xa0 MLB Women's Custom Short-Sleeve Tee Sizing \xa0 MLB Men's Custom Hooded Fleece Sizing \xa0 MLB Men\x91s", 'textAfterTable': '', 'hasKeyColumn': False, 'keyColumnIndex': -1, 'headerRowIndex': 0}
------------------------------------------------------------------------------------------------------------------------
{'relation': [['Players', 'Morgan Hook', 'Aaryn Ellenberg', 'Maddie Manning', 'Whitney Hand', 'Nicole Griffin', 'Joanna McFarland', 'Portia Durrett', 'Sharane Campbell-Olds', 'Jasmine Hartman', 'Nicole Kornet', 'Totals', 'Percentages'], ['Min', '24', '28', '26', '31', '28', '23', '8', '4', '15', '13', '', ''], ['FG', '5-11', '4-11', '5-8', '2-4', '3-6', '3-5', '3-6', '1-2', '0-1', '0-1', '26-55', '47.3%'], ['3pt', '2-3', '4-10', '0-0', '1-2', '0-0', '1-3', '0-0', '0-1', '0-0', '0-0', '8-19', '42.1%'], ['FT', '4-6', '0-0', '2-3', '5-6', '2-3', '0-0', '0-1', '1-2', '0-0', '0-0', '14-21', '66.7%'], ['Off', '3', '0', '0', '2', '0', '1', '2', '0', '0', '0', '8', ''], ['Def', '2', '0', '4', '4', '3', '4', '2', '1', '1', '1', '22', ''], ['Reb', '5', '0', '4', '6', '3', '5', '4', '1', '1', '1', '30', ''], ['Ast', '2', '2', '1', '2', '3', '1', '0', '0', '3', '0', '14', ''], ['TO', '2', '3', '2', '2', '0', '0', '0', '0', '2', '1', '12', ''], ['Stl', '1', '1', '2', '2', '1', '1', '1', '0', '0', '0', '9', ''], ['Blk', '0', '0', '0', '0', '1', '0', '0', '0', '1', '0', '2', ''], ['PF', '0', '2', '4', '2', '2', '2', '2', '0', '0', '1', '15', ''], ['P', '16', '12', '12', '10', '8', '7', '6', '3', '0', '0', '74', '']], 'pageTitle': "Oklahoma at Hawaii | 2012-11-25 | College Women's Basketball | Yahoo! Sports", 'title': 'PLAYERS', 'url': 'http://sports.yahoo.com/ncaaw/oklahoma-sooners-hawaii-rainbow-wahine-201211250246/', 'hasHeader': True, 'headerPosition': 'MIXED', 'tableType': 'RELATION', 'tableNum': 2, 's3Link': 'common-crawl/crawl-data/CC-MAIN-2015-32/segments/1438042981460.12/warc/CC-MAIN-20150728002301-00160-ip-10-236-191-2.ec2.internal.warc.gz', 'recordEndOffset': 226342019, 'recordOffset': 226254354, 'tableOrientation': 'HORIZONTAL', 'textBeforeTable': 'Oklahoma 49 24 25 Haw 74 46 28 Okla Total 2 1 2-5 Hawaii 49 - 74 5-1 Oklahoma Attendance: 1,422 Stan Sheriff Center, Final Sun, Nov 25 7:30 PM EST', 'textAfterTable': 'Hawaii PLAYERS Players Min FG 3pt FT Off Def Reb Ast TO Stl Blk PF P Kamilah Jackson 36 3-13 0-0 5-6 5 5 10 2 2 0 0 1', 'hasKeyColumn': True, 'keyColumnIndex': 0, 'headerRowIndex': 0}
------------------------------------------------------------------------------------------------------------------------
{'relation': [['Avg Per Game', 'Fanni Szabo', 'Lakin Roland', 'Milica Toskovic', 'Katie Vareika', 'Daisy Jordan', 'Tia Dawson', 'Amber Mixon', 'Olivia Smith', 'Kate Letkewicz', 'Andi Norman', 'Emily Slagle', 'Nicole Beresford'], ['G', '28', '28', '28', '24', '28', '26', '28', '27', '23', '21', '19', '5'], ['Min', '35.6', '29.0', '31.9', '13.6', '18.9', '16.8', '27.4', '10.3', '13.9', '8.0', '7.0', '3.6'], ['FGM', '6.5', '3.9', '1.8', '1.5', '1.6', '1.3', '0.9', '1.0', '1.0', '1.0', '0.4', '0.2'], ['FGA', '17.4', '10.9', '5.7', '4.0', '4.2', '3.3', '3.1', '2.4', '2.8', '2.2', '1.6', '1.2'], ['FG%', '37.5', '35.4', '31.9', '37.9', '37.3', '41.2', '29.5', '41.5', '34.4', '45.7', '23.3', '16.7'], ['3PM', '1.6', '1.2', '0.5', '1.3', '0.0', '0.0', '0.2', '0.0', '0.5', '0.4', '0.2', '0.0'], ['3PA', '5.4', '3.5', '2.2', '3.1', '0.0', '0.0', '1.1', '0.0', '1.0', '1.1', '0.6', '0.0'], ['3PT%', '29.3', '35.1', '24.6', '41.9', '0.0', '0.0', '19.4', '0.0', '47.8', '33.3', '25.0', '0.0'], ['FTM', '1.6', '3.1', '1.3', '0.3', '1.0', '0.7', '0.8', '0.7', '0.3', '0.2', '0.4', '0.4'], ['FTA', '2.2', '4.1', '1.9', '0.3', '1.2', '1.0', '1.3', '1.0', '0.4', '0.3', '0.4', '0.8'], ['FT%', '74.2', '75.0', '69.2', '87.5', '79.4', '70.4', '65.7', '74.1', '88.9', '71.4', '100.0', '50.0'], ['Off', '0.8', '1.5', '1.5', '0.3', '1.1', '2.2', '0.8', '0.5', '0.6', '0.3', '0.2', '0.6'], ['Def', '4.1', '6.4', '4.0', '0.5', '1.4', '3.8', '2.2', '1.4', '1.4', '0.6', '0.3', '0.6'], ['Reb', '4.9', '8.0', '5.5', '0.8', '2.5', '6.0', '3.0', '1.9', '2.0', '0.9', '0.5', '1.2'], ['Ast', '2.0', '1.6', '2.9', '0.4', '0.3', '0.8', '1.6', '0.2', '0.5', '0.1', '0.3', '0.0'], ['TO', '3.3', '3.6', '3.1', '0.5', '1.4', '1.0', '1.4', '0.7', '1.3', '0.5', '0.7', '0.2'], ['Stl', '2.1', '1.0', '1.2', '0.3', '0.4', '0.4', '1.0', '0.2', '0.3', '0.2', '0.2', '0.4'], ['Blk', '0.3', '0.7', '0.9', '0.0', '0.4', '1.2', '0.1', '0.1', '0.1', '0.0', '0.1', '0.0'], ['PF', '2.0', '3.1', '2.6', '0.8', '2.9', '2.2', '1.5', '1.9', '0.7', '0.5', '0.6', '0.2'], ['P', '16.3', '12.0', '5.5', '4.6', '4.1', '3.4', '2.9', '2.7', '2.7', '2.6', '1.3', '0.8']], 'pageTitle': 'Dartmouth Big Green on Yahoo! Sports - News, Scores, Standings, Rumors, Fantasy Games', 'title': 'Team Stats', 'url': 'http://sports.yahoo.com/ncaaw/teams/dac/stats/', 'hasHeader': True, 'headerPosition': 'MIXED', 'tableType': 'RELATION', 'tableNum': 1, 's3Link': 'common-crawl/crawl-data/CC-MAIN-2015-32/segments/1438042981460.12/warc/CC-MAIN-20150728002301-00160-ip-10-236-191-2.ec2.internal.warc.gz', 'recordEndOffset': 226376835, 'recordOffset': 226336952, 'tableOrientation': 'HORIZONTAL', 'textBeforeTable': 'Avg Per Game 41.2 Tia Dawson 41.5 Olivia Smith 45.7 FG% Andi Norman Field Goal Percentage 0.7 Lakin Roland 0.9 Milica Toskovic 1.2 Blk Tia Dawson Blocked Shots per game 1.0 Lakin Roland 1.2 Milica Toskovic 2.1 Stl Fanni Szabo Steals per game 1.6 Amber Mixon 2.0 Fanni Szabo 2.9 Ast Milica Toskovic Assists per game 5.5 Milica Toskovic 6.0 Tia Dawson 8.0 Reb', 'textAfterTable': 'Season Team Stats Season G Min FGM FGA FG% 3P 3PA 3PT% FT FTA FT% OR DR Reb Ast TO Stl Blk PF P Fanni Szabo 28', 'hasKeyColumn': True, 'keyColumnIndex': 0, 'headerRowIndex': 0}
------------------------------------------------------------------------------------------------------------------------
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
{'relation': [['', '', '', '', '', '', '', '', ''], ['Appearance Type', 'story', 'story', 'story', 'story', 'story', 'story', 'story', 'story'], ['Appearance Information', 'Butch the Bully! 16pg art', '5350 4pg art', "5532 The Boy Who Wasn't There! 12pg art", '5699 Up in the Air! 8pg art', '6025 The Scamp Goes to Camp! 10pg art', '5812 Treasure Is No Pleasure! 10pg art', 'SL-6007 Lenny Draws a Picture 1pg text', 'SL-6006 Take Me Out to the Bawl-game 1pg text'], ['Issue', 'Little Lenny 1', 'Little Lenny 1', 'Little Lenny 2', 'Little Lenny 2', 'Little Lenny 3', 'Little Lenny 3', 'Frankie Fuddle 17', 'Frankie Fuddle 17'], ['Cover Date', 'June 1949', 'June 1949', 'August 1949', 'August 1949', 'November 1949', 'November 1949', 'November 1949', 'November 1949']], 'pageTitle': 'Little Lenny', 'title': '', 'url': 'http://atlastales.com/character/185', 'hasHeader': True, 'headerPosition': 'FIRST_ROW', 'tableType': 'RELATION', 'tableNum': 0, 's3Link': 'common-crawl/crawl-data/CC-MAIN-2015-32/segments/1438042981460.12/warc/CC-MAIN-20150728002301-00160-ip-10-236-191-2.ec2.internal.warc.gz', 'recordEndOffset': 19323902, 'recordOffset': 19315700, 'tableOrientation': 'HORIZONTAL', 'TableContextTimeStampAfterTable': '{2885=© Atlas Tales 2015}', 'textBeforeTable': 'Gallery Appearances List male Gender \xa0 Little Lenny Code Name Coming Soon! No Image Little Lenny Atlas Tales Little Lenny Characters On eBay Updates News Information Search Reprints Characters Creators Titles Features Contact Home Search Or Characters Creators Titles Browse', 'textAfterTable': 'There are currently no images avaliable. © Atlas Tales 2015', 'hasKeyColumn': True, 'keyColumnIndex': 2, 'headerRowIndex': 0}
------------------------------------------------------------------------------------------------------------------------
{'relation': [['Size', 'WS - LEFT SIDE (4-7.5)', 'AS - LEFT SIDE (4-7)', 'WM - LEFT SIDE (7.5-10.5)', 'AM - LEFT SIDE (7-10)', 'WL - LEFT SIDE (10.5-13.5)', 'AL - LEFT SIDE (10-13)'], ['Color', 'BLACK', 'BLACK', 'BLACK', 'BLACK', 'BLACK', 'BLACK'], ['Price', '$49.95', '$49.95', '$49.95', '$49.95', '$49.95', '$49.95'], ['Lead Time', '2 to 3 business days', '2 to 3 business days', '1 to 2 business days', '2 to 3 business days', '1 to 2 business days', '2 to 3 business days'], ['In Stock', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'Yes']], 'pageTitle': 'Baseball Equipment and Gear', 'title': '', 'url': 'http://baseball.epicsports.com/invstatus/19713/zamst-a1-moderate-support-left-side-ankle-brace.html', 'hasHeader': True, 'headerPosition': 'FIRST_ROW', 'tableType': 'RELATION', 'tableNum': 0, 's3Link': 'common-crawl/crawl-data/CC-MAIN-2015-32/segments/1438042981460.12/warc/CC-MAIN-20150728002301-00160-ip-10-236-191-2.ec2.internal.warc.gz', 'recordEndOffset': 22484601, 'recordOffset': 22476399, 'tableOrientation': 'HORIZONTAL', 'textBeforeTable': 'Zamst A1 Moderate Support Left Side Ankle Brace', 'textAfterTable': '', 'hasKeyColumn': False, 'keyColumnIndex': -1, 'headerRowIndex': 0}
------------------------------------------------------------------------------------------------------------------------
{'relation': [['Player', 'Martis', 'Robertson, T', 'Slama (L, 0-2)', 'Thielbar'], ['IP', '3.2', '1.0', '0.1', '1.0'], ['H', '4', '2', '2', '2'], ['R', '1', '0', '4', '2'], ['ER', '1', '0', '4', '2'], ['BB', '4', '1', '2', '0'], ['SO', '4', '0', '0', '2'], ['HR', '0', '0', '0', '0'], ['ERA', '4.05', '0.00', '13.50', '6.75']], 'pageTitle': 'BaseballAmerica.com: Stats', 'title': '', 'url': 'http://baseballamerica.com/statistics/leagues/box/?lg_id=9&tm1=3147&tm2=3146&sbd=20130413&gc=1', 'hasHeader': True, 'headerPosition': 'FIRST_ROW', 'tableType': 'RELATION', 'tableNum': 12, 's3Link': 'common-crawl/crawl-data/CC-MAIN-2015-32/segments/1438042981460.12/warc/CC-MAIN-20150728002301-00160-ip-10-236-191-2.ec2.internal.warc.gz', 'recordEndOffset': 22581379, 'recordOffset': 22566779, 'tableOrientation': 'HORIZONTAL', 'textBeforeTable': 'Rochester Red Wings W: Villarreal, O (W, 2-0, 6.75) ; L: Slama (L, 0-2, 13.50) 0 10 7 x x x 6 0 0 0 1 0 Pawtucket 1 4 1 x x 0 0 0 0 0 0 1 Rochester E H R 9 8 7 6 5 4 3 2 1 Final International League (AAA) --Major League Baseball-- American League (MAJ) National League (MAJ) --Triple-A-- International League (AAA) Mexican League (AAA) Pacific Coast League (AAA) --Double-A-- Eastern League (AA) Southern League (AA) Texas League (AA) --High Class A-- California League (HiA) Carolina League (HiA) Florida State League', 'textAfterTable': '0 0 0 0 0 0 1 .111 Benson RF 2 0 0 0 0 0 0 1 2 .136 Thomas, C CF 2 0 0 0 0 0 0 1 1 .318 Dinkelman 2B 3 0 1 0 0 0 0 0 1 .190 Sobolewski 3B 3 0 0 0 0 0 0 0 1 .231 Olmedo SS 2 0 0 0 0 0 0 0 0 .278 BATTING TB: Arcia; Herrmann, C; Dinkelman; Colabello. RBI: Colabello (5). Runners left in scoring position, 2 out: Sobolewski. GIDP: Clement, Colabello. Team RISP: 1-for-4. Team LOB: 4. FIELDING E: Dinkelman (1, missed catch). Pawtucket Red Sox Player AB R H 2B 3B HR RBI BB SO AVG Holt 2B 4 1 1 0 0 0 0 0 1 .267 Iglesias SS 3 1 0 0 0 0 1 1 1 .143 Ortiz, D DH 4 1 1 0 0 0 2 0', 'hasKeyColumn': False, 'keyColumnIndex': -1, 'headerRowIndex': 0}
------------------------------------------------------------------------------------------------------------------------